* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

header{
    background-color: rgba(88, 53, 96, 0.403);
    color: rgba(0, 0, 0, 0.801);
    text-align:center;
    padding-top: 100px;
    width: 100%;
    height: 100vh;
}
